<% provide(:title, 'Home') %>
<div class="center hero-unit">

	<div class="content">
		<p class="post"><strong>Status report 1/1/13</strong><br/><br/>I am currently in the middle of the second chapter of Michael Hartl's<a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book" target="_blank">Ruby on Rails Tutorial</a>. There are eleven chapters total so I have much to do but I have already done so much that I know it will be amazing how much I will learn in the remaining chapters! So far it has been very helpful in orienting myself with designing and deploying web applications. I have already created two sample applications and even deployed one on heroku, a web hosting service for Rails which takes care of the database work for you!<br/><br/>If you're also learning ruby/rails or have any thing you want to say, let me know and leave a comment!</p>
		<p class="post"><strong>Hello World!</strong> I hope 2013 brings you what you need it to. For me I hope it is the start of a career doing what I love. <br/>With this being my first blog post, let me briefly tell you my story.<br/><br/>My name is Dave, a recent college grad non-computer-science major trying to become a full-time programmer and maker of all things cool and cutting-edge. I am presently learning ruby on rails via a tutorial by Michael Hartl. My goal is to get a broad overview of web development and software development while at the same time be able to create basic web apps and work on open source projects. That's all for now, but I will be sure to write more about me and my goals in the future 'about' page.<br/><br/>This blog will help me track my progress and let my friends and supporters know what I am up to. I thank you all for reading this and appreciate your help!<br/><br/>Best,<br/>Dave</p>
	</div>
	
	<div class="sidebar">
		<h2>About Me</h2>
		<img src="profile_sm.jpg" />
		<p>David J. Wang<br/> Boston University '12<br/><br/>Hello and welcome to my personal site and blog about my programming journey.<br/></p>
	</div>


</div>