<% provide(:title, 'Home') %>

<div id="blog-posts">
	<% @posts.each do |post| %>
		<h3 class="blog-post"> <%= post.title %> </h3>
		<p class="blog-post"> <%= post.content %> <br> <%= link_to "view this post and comments", post %> </p>
	<% end %>
</div>

<div class="sidebar">
	<h2>About Me</h2>
	<img src="profile_sm.jpg" />
	<p>Callsign: David J. Wang<br/>Education: Boston University '12<br/><br/>Hello and welcome to my personal site and blog about my programming journey.<br/></p>
</div>