/* @import "bootstrap";   #trying to avoid bootstrap! */
/* first section is from bootstrap */

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom: 3px solid #F74906;
  -moz-box-shadow: 0 0 5px 2px #888;
  -webkit-box-shadow: 0 0 5px 2px #888;
  box-shadow: 0 0 5px 2px #888;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
/*  margin: 0 10px 0 0;*/
  margin: auto;
}

.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

.navbar .nav > li {
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #F74906;
  text-decoration: none;
  background-color: transparent;
}



a:link {color:#777777;}
a:visited {color:#777777;}
a:hover {color:#F74906;} 
a:active {color:#F74906;} 



body {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 85%;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #EDEDE4;
/*  background-color: #DEDED9;*/
}

/* editing the bootstrap css */
.navbar-fixed-top {
/*  background-color: #EDEDE4;   */
  background-color: #DEDED9;
  width: 100%;
  margin: auto;
}
.navbar-inner .container {
  width: 85%;
  margin: auto;
  min-width: 640px;
}
ol.nav {
  padding-top: 10px;
  -webkit-padding-start: 10px;
}

.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
#content-container {
	margin: auto;
	padding-top: 40px;
}

.nav {
	list-style-type: none;
}

header h1 {
	font-size: 200%;
	letter-spacing: -2px;
  padding-bottom: 5px;
	margin-bottom: 0px;
	text-align: center;
  color: #F74906;
}

#blog-posts {
 	float: left;
 	width: 70%;
  min-width: 360px;
 	margin-bottom: 40px;
	}
p.blog-post {
	color: #606060;
	padding: 1.5em;
/*	border: .5px solid gray;*/
	margin-top: 0px;
	font-size: 100%;
	}
h3.blog-post {
	color: #F74906;
	padding: 0em;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 150%;
	}
h2#latest-posts {
  text-decoration: underline;
  font-size: 180%;
}
p.comment {
  padding-left: 20px;
  border-bottom: 1px solid black;
  border-bottom-height: 500px;
  margin-top: 0px;
  margin-bottom: 10px; 
}
.sidebar {
	margin-left: 75%;
	padding-top: 0px;
	}
.sidebar h2 {
	font-size: 125%;
	text-align: center;
  color: #777777;
	}
.sidebar img {
	max-height: 100px;
	max-width: 100px;
	}
.sidebar p {
	font-size: 80%;
	}






#logo {
float: left;
margin-right: 5px;
font-size: 1.4em;
color: black;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 10px;
font-weight: bold;
line-height: 1;
text-decoration: none;
}
#logo:hover {
color: #777777;
}
header h1:hover {
  
}

/* footer layout and design*/
footer {
clear:both;
width: 100%;
margin: auto;
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #999;
}
footer small {
float: left;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 10px;
}

/*
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 1.5em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #999;
}
p {
font-size: .8em;
line-height: 1.7em;
}

*/
/* unnecessary code from RailsTut
html {
overflow-y: scroll;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
*/